*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13,17,19);
  --clr-light: #fff;
  --clr-accent: rbg(222,52,0);
  --clr-accent-dark: rgb(163,38,0);
  --clr-secondary: rgb(0, 85, 221);
  --br: .5em;
  --transition: transform 250ms cubic-bezier(.22,.9,.58,1)
;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn {
  cursor: pointer;
  background: var(--clr-secondary);
  border-radius: 100vw;
  color: var(--clr-light);
  font-weight: bold;
  padding: .5em 1.5em;
  border: 0px;
}

.game {
  position: relative;
  width: 12.5em;
  cursor: pointer;
}

.rank {
  position: absolute;
  top: 0;
  right: 1.5em;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(134, 100, 100, 0.5);
  padding: .5em .5em .75em;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 79%, 0 100%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 50% 79%, 0 100%, 0 0);
  z-index: 33;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.front .thumbnail {
  border-radius: var(--br);
}

.front .name {
  margin: .75em 0;
}

.front .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .streamers img {
  border: 2px solid var(--clr-dark);
}

.front .streamers img:nth-of-type(1) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 1;
}

.front .streamers img:nth-of-type(2) {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.streamers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.streamers img {
  width: 2 em;
  height: 2em;
  border-radius: 50%;
}

.back {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.back .streaming-info {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid rgba(255, 255, 255, 0.25);
          column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

.back .game-stat {
  font-size: 1.125rem;
  text-align: center;
}

.back .game-stat span {
  font-size: .85rem;
  display: block;
}

.background {
  background: #282e36;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: scale(0.2, 0.9);
          transform: scale(0.2, 0.9);
  opacity: 0;
  border-radius: var(--br);
}

.game:hover .rank {
  -webkit-transform: translate(165%, -47%);
          transform: translate(165%, -47%);
}

.game:hover .front {
  -webkit-transform: translateY(-30%) scale(0.8);
          transform: translateY(-30%) scale(0.8);
}

.game:hover .front .name {
  -webkit-animation: gamename 260ms forwards;
          animation: gamename 260ms forwards;
}

.game:hover .front .stats {
  opacity: 0;
}

.game:hover .back {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 150ms linear;
  transition: transform 250ms ease, opacity 150ms linear, -webkit-transform 250ms ease;
}

.game:hover .back .streamers {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game:hover .back .streamer {
  font-size: .9rem;
}

.game:hover .back .name {
  font-weight: bold;
}

.game:hover .background {
  transition: var(--transition), opacity 100ms linear, -webkit-transform 250ms ease-in-out;
  opacity: 1;
  -webkit-transform: scale(1.35, 1.5) translateY(10%);
          transform: scale(1.35, 1.5) translateY(10%);
}

@-webkit-keyframes gamename {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes gamename {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.streamer .icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  -webkit-transition: -webkit-transform ease-in-out 150ms;
  transition: -webkit-transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
}

.streamer .icon::before, .streamer .icon::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.streamer .icon::before {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.65em;
  background: #f00;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 10;
  -webkit-transition: opacity 75ms linear, background-color 100ms linear;
  transition: opacity 75ms linear, background-color 100ms linear;
}

.streamer .icon:hover {
  -webkit-transform: translateY(-15%) scale(1.2);
          transform: translateY(-15%) scale(1.2);
}

.streamer .icon:hover::before {
  background: #cc0202;
}

.streamer .icon:hover::after {
  background: #f00;
  z-index: 1;
  -webkit-animation: pulse 1250ms infinite;
          animation: pulse 1250ms infinite;
}

.streamer:hover .icon {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.streamer:hover .icon::before {
  opacity: 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */